@model IEnumerable<HomeListViewModel>
@{

    ViewBag.Title = "Pizza List";
}
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Pizza Menu</th>
        <th>Ingredient Menu </th>
    </tr>
    <tr>
        <td style="width:85%">
            <div class="card-group">
                @foreach (var pizza in Model)
                {
                    @foreach (var item in pizza.Pizzas)
                    {
                        var photoPath = "~/images/" + (item.ImageUrl ?? "noimage.png");
                        <div class="card m-1" style="min-width: 18rem; max-width: 30.5%;">
                            <div class="card-header">
                                <h3>@item.PizzaName</h3>
                            </div>
                            <img class="card-img-top imageThumbnail" src="@photoPath"  asp-append-version="true" />
                            <div class="card-footer text-center">
                                <b>Price :</b><label class="form-label fw-bold">@item.Price</label>
                                <a asp-controller="cart" asp-action="buy" asp-route-id="@item.PizzaId"
                                   class="btn-primary">ADD TO CART</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </td>
        <td style="width:15%">
            <div class="card-group">
                @foreach (var ingredients in Model)
                {
                    @foreach (var item in ingredients.ingredients)
                    {
                        var photoPath = "~/images/" + (item.ImageUrl ?? "noimage.png");
                        <div class="card m-2" style="min-width: 18rem; max-width: 30.5%;">
                            <div class="card-header">
                                <h3>@item.IngredientName</h3>
                            </div>
                            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                            <div class="card-footer text-center">
                                <b>Price :</b><label class="form-label fw-bold">@item.Price</label>
                                <a asp-controller="cart" asp-action="BuyIngredient" asp-route-id="@item.IngredientId"
                                   class="btn-primary">ADD TO CART</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </td>
    </tr>

</table>

